/node_modules/
/relever.csv
/relever.ods
/.idea/
/releverTemperature_Août.csv
/releverTemperature_Avril.csv
/releverTemperature_Décembre.csv
/releverTemperature_Février.csv
/releverTemperature_Janvier.csv
/releverTemperature_Juillet.csv
/releverTemperature_Juin.csv
/releverTemperature_Mai.csv
/releverTemperature_Mars.csv
/releverTemperature_Novembre.csv
/releverTemperature_Septembre.csv
/releverTemperature_Septembre.xlsx
/~$releverTemperature_Septembre.xlsx
/releverTemperature_Août.csv
/releverTemperature_Décembre.csv
/releverTemperature_Février.csv
